.centre {
    display: inline-flex;
    justify-content: center;
}

.light-red {
    color: #ED1E79;
}

button {
    cursor: pointer;
}

input[type="text"], input[type="password"], button{ 
    outline: none;
}