.centre {
    display: inline-flex;
    justify-content: center;
}

.blue {
    color: #166088;
}

button {
    cursor: pointer;
}

input[type="text"], input[type="password"], button{ 
    outline: none;
}